# Do not remove or rename entries in this file, only add new ones
# See https://github.com/flutter/flutter/issues/128635 for more context.

# Miscellaneous
*.class
*.lock
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code related
.classpath
.project
.settings/
.vscode/*

# Flutter repo-specific
/bin/cache/
/bin/internal/bootstrap.bat
/bin/internal/bootstrap.sh
/bin/mingit/
/dev/benchmarks/mega_gallery/
/dev/bots/.recipe_deps
/dev/bots/android_tools/
/dev/devicelab/ABresults*.json
/dev/docs/doc/
/dev/docs/api_docs.zip
/dev/docs/flutter.docs.zip
/dev/docs/lib/
/dev/docs/pubspec.yaml
/dev/integration_tests/**/xcuserdata
/dev/integration_tests/**/Pods
/packages/flutter/coverage/
version
analysis_benchmark.json

# packages file containing multi-root paths
.packages.generated

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
**/generated_plugin_registrant.dart
.packages
.pub-preload-cache/
.pub-cache/
.pub/
build/
flutter_*.png
linked_*.ds
unlinked.ds
unlinked_spec.ds

# Android related
**/android/**/gradle-wrapper.jar
.gradle/
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/key.properties
*.jks

# iOS/XCode related
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/*sync/
**/ios/**/.sconsign.dblite
**/ios/**/.tags*
**/ios/**/.vagrant/
**/ios/**/DerivedData/
**/ios/**/Icon?
**/ios/**/Pods/
**/ios/**/.symlinks/
**/ios/**/profile
**/ios/**/xcuserdata
**/ios/.generated/
**/ios/Flutter/.last_build_id
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/ephemeral
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/Flutter/flutter_export_environment.sh
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*

# macOS
**/Flutter/ephemeral/
**/Pods/
**/macos/Flutter/GeneratedPluginRegistrant.swift
**/macos/Flutter/ephemeral
**/xcuserdata/

# Windows
**/windows/flutter/generated_plugin_registrant.cc
**/windows/flutter/generated_plugin_registrant.h
**/windows/flutter/generated_plugins.cmake

# Linux
**/linux/flutter/generated_plugin_registrant.cc
**/linux/flutter/generated_plugin_registrant.h
**/linux/flutter/generated_plugins.cmake

# Coverage
coverage/

# Symbols
app.*.symbols

# Exceptions to above rules.
!**/ios/**/default.mode1v3
!**/ios/**/default.mode2v3
!**/ios/**/default.pbxuser
!**/ios/**/default.perspectivev3
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
!/dev/ci/**/Gemfile.lock
!.vscode/settings.json
build/129fe64d39a60f20f40290b7a749e2dc.cache.dill.track.dill
build/app/intermediates/assets/debug/flutter_assets/kernel_blob.bin
build/app/intermediates/compressed_assets/debug/out/assets/flutter_assets/kernel_blob.bin.jar
build/app/intermediates/flutter/debug/flutter_assets/kernel_blob.bin
build/app/intermediates/flutter/debug/flutter_build.d
build/app/intermediates/incremental/packageDebug/tmp/debug/dex-renamer-state.txt
build/app/outputs/apk/debug/app-debug.apk
build/app/outputs/flutter-apk/app-debug.apk
build/app/outputs/flutter-apk/app-debug.apk.sha1
.dart_tool/package_config.json
.dart_tool/package_config_subset
.dart_tool/version
build/app/intermediates/assets/debug/flutter_assets/isolate_snapshot_data
build/app/intermediates/assets/debug/flutter_assets/kernel_blob.bin
build/app/intermediates/compressed_assets/debug/out/assets/flutter_assets/isolate_snapshot_data.jar
build/app/intermediates/compressed_assets/debug/out/assets/flutter_assets/kernel_blob.bin.jar
build/app/intermediates/desugar_graph/debug/out/currentProject/dirs_bucket_0/graph.bin
build/app/intermediates/dex/debug/mergeDexDebug/classes.dex
build/app/intermediates/dex_archive_input_jar_hashes/debug/out
build/app/intermediates/dex_number_of_buckets_file/debug/out
build/app/intermediates/flutter/debug/.last_build_id
build/app/intermediates/flutter/debug/flutter_assets/isolate_snapshot_data
build/app/intermediates/flutter/debug/flutter_assets/kernel_blob.bin
build/app/intermediates/flutter/debug/flutter_build.d
build/app/intermediates/flutter/debug/libs.jar
build/app/intermediates/incremental/debug/mergeDebugResources/compile-file-map.properties
build/app/intermediates/incremental/debug/mergeDebugResources/merger.xml
build/app/intermediates/incremental/mergeDebugAssets/merger.xml
build/app/intermediates/incremental/packageDebug/tmp/debug/dex-renamer-state.txt
build/app/intermediates/javac/debug/classes/com/example/college_bot/BuildConfig.class
build/app/intermediates/javac/debug/classes/io/flutter/plugins/GeneratedPluginRegistrant.class
build/app/intermediates/manifest_merge_blame_file/debug/manifest-merger-blame-debug-report.txt
build/app/intermediates/merged_native_libs/debug/out/lib/x86/libflutter.so
build/app/intermediates/merged_native_libs/debug/out/lib/x86_64/libflutter.so
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/debug.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-af.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-am.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-ar.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-as.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-az.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-b+sr+Latn.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-be.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-bg.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-bn.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-bs.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-ca.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-cs.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-da.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-de.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-el.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-en-rAU.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-en-rCA.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-en-rGB.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-en-rIN.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-en-rXC.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-es-rUS.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-es.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-et.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-eu.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-fa.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-fi.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-fr-rCA.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-fr.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-gl.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-gu.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-hi.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-hr.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-hu.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-hy.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-in.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-is.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-it.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-iw.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-ja.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-ka.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-kk.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-km.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-kn.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-ko.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-ky.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-lo.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-lt.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-lv.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-mk.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-ml.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-mn.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-mr.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-ms.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-my.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-nb.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-ne.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-night-v8.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-nl.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-or.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-pa.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-pl.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-pt-rBR.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-pt-rPT.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-pt.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-ro.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-ru.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-si.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-sk.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-sl.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-sq.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-sr.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-sv.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-sw.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-ta.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-te.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-th.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-tl.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-tr.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-uk.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-ur.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-uz.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-v16.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-v21.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-vi.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-zh-rCN.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-zh-rHK.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-zh-rTW.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-zu.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values.json
build/app/intermediates/project_dex_archive/debug/out/com/example/college_bot/BuildConfig.dex
build/app/intermediates/project_dex_archive/debug/out/d5b4b308d1cabc99423f4ea77e9a80bc6754e8033fba4ad905f929657018ccb1_0.jar
build/app/intermediates/project_dex_archive/debug/out/d5b4b308d1cabc99423f4ea77e9a80bc6754e8033fba4ad905f929657018ccb1_1.jar
build/app/intermediates/project_dex_archive/debug/out/d5b4b308d1cabc99423f4ea77e9a80bc6754e8033fba4ad905f929657018ccb1_2.jar
build/app/intermediates/project_dex_archive/debug/out/io/flutter/plugins/GeneratedPluginRegistrant.dex
build/app/intermediates/source_set_path_map/debug/file-map.txt
build/app/intermediates/stripped_native_libs/debug/out/lib/x86/libflutter.so
build/app/intermediates/stripped_native_libs/debug/out/lib/x86_64/libflutter.so
build/app/kotlin/compileDebugKotlin/cacheable/caches-jvm/inputs/source-to-output.tab.values.at
build/app/kotlin/compileDebugKotlin/cacheable/last-build.bin
build/app/kotlin/compileDebugKotlin/local-state/build-history.bin
build/app/outputs/apk/debug/app-debug.apk
build/app/outputs/flutter-apk/app-debug.apk
build/app/outputs/flutter-apk/app-debug.apk.sha1
build/app/outputs/logs/manifest-merger-debug-report.txt
build/app/tmp/compileDebugJavaWithJavac/previous-compilation-data.bin
